.representative__section
  background white
  border-radius 3px
  padding 16px
  display flex
  flex-direction column
  flex 1
  margin 8px
  box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)

.representative__section-row
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 8px 0
  border-bottom 1px solid rgba(0,0,0,0.08)

.representative__section-row-label
  padding-right 24px
