.representative__section
  background white
  border 1px solid $borderColor
  border-radius 3px
  padding 16px
  display flex
  flex-direction column
  flex 1
  margin 8px

.representative__section-row
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 8px 0
  border-bottom 1px solid rgba(0,0,0,0.08)

.representative__section-row-label
  padding-right 24px
