.posts
  flex 1 1 550px
  padding 0 16px

.posts__side
  flex 1
  min-width 200px

.posts__title
  font-size 9pt
  font-weight 300
  text-align center
  padding-top 16px
  font-family 'IBM Plex Mono', monospace
  letter-spacing 0.1em
  text-transform capitalize
  color $nanoBlueGrey

@media (min-width 750px)
  .posts
    max-width 550px
