.uptime
  min-width 4px
  margin 0 auto
  svg
    max-width 100%

.uptime__legend
  display flex
  color rgba(0,0,0,0.3)
  font-family 'IBM Plex Mono', monospace
  font-size 12px
  justify-content space-between

.uptime__legend-divider
  flex 1
