.github__container
  flex 1 0 300px
  padding 0 16px
  background white
  border-radius 8px
  margin 8px 8px 0

.github__title
  font-family 'IBM Plex Mono', monospace
  letter-spacing 0.2em
  text-transform uppercase
  font-size 12px
  font-weight 800
  padding 16px 0

.github__events
  border-radius 4px
  padding 4px

.github__event
  padding 8px 0
  font-size 11px
  display flex
  a
    color $nanoSoftBlue
    &:hover
      text-decoration underline
      text-decoration-color $nanoSoftBlue
      text-decoration-thickness 2px
      text-underline-offset 2px
  &:not(:last-child)
    border-bottom 1px solid $borderColor

.github__event-time
  margin-left 4px
  padding-left 4px
  border-left 1px solid $borderColor
  color rgba(0,0,0,0.4)
  width 20px

.github__event-action
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  flex 1

.github__event-author
  margin-right 5px

.github__event-action
  color rgba(0,0,0,0.5)
