.representatives__search
  flex 1
  min-width 160px
  max-width 400px
  margin 8px
  height 35px
  margin-right 8px
  position relative
  border 1px solid $borderColor
  display flex
  align-items center
  background white
