.representatives__search
  height 48px
  width 380px
  min-width 160px
  max-width 400px
  border-radius 6px
  overflow hidden
  position relative
  display flex
  align-items center
  background white

  &.center
    margin 8px auto

  &.left
    margin 8px

