.representatives__search
  flex 1
  min-width 160px
  max-width 400px
  margin 8px
  height 35px
  margin-right 8px
  position relative
  border 1px solid $borderColor
  display flex
  align-items center

.representatives__search-input
  height 100%
  width 100%
  padding-left 16px
  font-size 14px
  flex 1
  border 0
  font-family 'IBM Plex Mono'

.representatvies__search-clear
  flex 0 0 auto
  cursor pointer
  padding 0 4px
  &:hover
    fill red
