.display__nano
  display flex
  align-items baseline

  .integer
    font-size 24px
    font-family 'IBM Plex Mono', monospace

  .fraction
    font-size 13px
    font-family 'IBM Plex Mono', monospace

  .unit
    text-transform uppercase
    font-family 'Montserrat', sans-serif
    font-size 18px
    padding-left 8px
