.search__bar
  width 100%
  max-width 384px
  background white
  border-radius 32px
  border 1px solid $borderColor
  margin 0 auto 32px
  padding 0 8px
  height 60px
  display flex
  overflow hidden
  align-items center

  &:hover
    box-shadow 0 1px 6px rgba(32, 33, 36 ,28%)

  &.invalid
    border-color red

  .search__input
    padding 16px
