.search__bar
  background white
  border-radius 6px
  margin 0 32px 16px
  height 48px
  display flex
  overflow hidden
  align-items center
  position relative
  transition box-shadow 40ms cubic-bezier(0.4, 0, 0.2, 1) 0ms

  &:hover
    box-shadow 0 1px 6px rgba(32, 33, 36 ,28%)

  &.invalid
    border-color red

  .search__icon
    margin-left 16px
    font-size 20px

  .search__input
    width 320px
    transition width 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms

  .search__input-clear
    position absolute
    right 0
    top 0
    bottom 0
    display flex
    align-items center

.search__shortcut-icon
  display flex
  align-items center
  justify-content center
  padding 4px
  cursor pointer
  margin-right 4px

  border 1px solid #e0e0e0
  border-radius 6px

  .MuiSvgIcon-root
    width 14px
    height 14px

@media (min-width 750px)
  .search__bar .search__input
    &.filled
    &:focus
      width 582px

@media (max-width 450px)
  .search__bar
    max-width 90%
    margin-left 16px
    margin-right 16px

@media (pointer: coarse)
  .search__shortcut-icon
    display none
