.representatives__offline
  padding 16px

  .MuiTableCell-head
    font-weight 600

  a
    color $nanoSoftBlue
    overflow hidden
    text-overflow ellipsis
    &:hover
      text-decoration underline
      text-decoration-color $nanoSoftBlue
      text-decoration-thickness 2px
      text-underline-offset 2px
