.posts__header
  display flex
  align-items center

.posts__body
  border-radius 4px
  overflow hidden
  margin-bottom 32px
  min-height 32px
  position relative
  &:not(:empty)
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)

  &:empty:before
    font-family 'IBM Plex Mono', monospace
    letter-spacing 0.5em
    text-transform uppercase
    color rgba(0,0,0,0.3)
    content: 'none'
    margin 0 auto
    top 36px
    left 50%
    transform translate(-50%, -25px)
    position absolute

.posts__heading
  flex 1
  font-family 'IBM Plex Mono', monospace
  letter-spacing 0.5em
  text-transform uppercase
  color $nanoBlueGrey
  position relative
  font-size 8pt
  line-height 1rem
  margin 15px 0
  &::before
    content ""
    display block
    position absolute
    top 10px
    width 100%
    border-top 3px solid lighten($borderColor, 40%)
  span
  a
    display inline-block
    position relative
    background $backgroundColor
    padding 3px 8px 2px 12px

.posts__age
  flex 0 0 auto
  border-radius 4px
  border 1px solid $borderColor
  background #ffffff

  .MuiToggleButton-root
    border none
    margin 4px
    font-size 10px
    padding 3px 8px
    &:not(:first-child)
    &:first-child
      border-radius 4px
