.doc__content
  flex 0 1 600px
  padding 32px 24px 0
  font-size 14px
  font-family 'Roboto Mono', monospace
  line-height 1.6
  margin-bottom 32px
  max-width 600px

  p
    font-family 'Inter', sans-serif
    font-size 16px
    margin-bottom 16px
    line-height 1.7

    > code
      padding 2px 3px
      background-color rgba(27,31,35,.05)
      border-radius 3px

  li
    font-family 'IBM Plex Mono', monospace

  pre
    padding 10px
    background-color rgba(27,31,35,.05)
    overflow hidden
    overflow-x scroll
    white-space break-spaces
    margin-bottom 32px

  figure
    max-width 75%
    margin 16px auto

  figcaption
    font-size 8pt
    font-style italic
    padding 8px

  h3
    margin-top 48px

.doc__content-side
  flex 1
  margin-top 32px

.doc__content-author
  margin 8px
  font-size 12px
  margin-bottom 48px

.doc__content-edit
  margin 8px !important

.doc__content
.doc__content-author
  a
    text-decoration underline
    text-decoration-color $nanoSoftBlue
    text-decoration-thickness .2em
    text-underline-offset 1.5px
    &:hover
      color $nanoSoftBlue
