.post
  margin-bottom 16px

.post__title
  font-family 'Inter', sans-serif
  font-weight 400
  font-size 10pt
  line-height 1.45
  letter-spacing .005rem
  display block
  padding 0px 16px
  word-wrap break-word
  box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
  border-radius 4px
  background #ffffff
  padding 14px

  &:hover
    color $nanoSoftBlue

  &.discord
    white-space pre-line
    word-break break-word

.post__meta
  font-family 'Roboto Mono', monospace
  color $nanoBlueGrey
  font-size 7pt
  margin-top 4px
  display flex
  flex-direction row
  padding 0 16px
  align-items center

  div + div
    margin-left 5px

.post__source
  border-radius 3px
  color white

  &.reddit
    color #FF5700

  &.forum
    color $nanoSoftBlue

  &.discord
    color #5865F2
