.post
  margin-bottom 16px

.post__title
  font-weight 400
  line-height 1.45
  letter-spacing .005rem
  display block
  padding 0px 16px
  word-wrap break-word
  &:hover
    text-decoration underline

.post__meta
  color rgba(0,0,0,0.3)
  font-size 11px
  margin-top 4px
  display flex
  flex-direction row
  padding 0 16px

  div + div
    margin-left 5px
