.post
  margin-bottom 12px

.post__title
  font-family 'IBM Plex Mono', monospace
  font-weight 400
  font-size 10pt
  line-height 1.45
  letter-spacing .005rem
  display block
  padding 0px 16px
  word-wrap break-word
  &:hover
    text-decoration underline
    text-decoration-color $nanoSoftBlue
    text-decoration-thickness .1em
    text-underline-offset 1px

.post__meta
  font-family 'Roboto Mono', monospace
  color $nanoSoftBlue
  font-size 7pt
  margin-top 4px
  display flex
  flex-direction row
  padding 0 16px

  div + div
    margin-left 5px
