.ledger-chart-description-notice 
  border 1px solid lighten($nanoSoftBlue, 50%)
  border-radius 5px
  padding 10px
  margin-bottom 10px
  background-color lighten($nanoSoftBlue, 95%)
  display flex
  gap 10px

  svg
    width 20px
    height 20px
    color $nanoSoftBlue

.ledger-chart-description-notice-local-time
  font-family 'IBM Plex Mono', monospace
  font-size 14px
  background-color white
  padding 2px 5px
  border-radius 5px
