.representatives__weight-container
  width 100%

.representatives__weight
  width 100%
  display flex
  justify-content center
  max-width 500px
  margin 16px auto 0
  padding 8px 16px
  background white
  border-radius 4px
  box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)

.representatives__weight-section
  flex 1
  padding 4px 8px

.representatives__weight-section-label
  font-weight 600
  text-transform capitalize
  font-family 'IBM Plex Mono', monospace
  font-size 10px
  letter-spacing 0.2em
  color $nanoSoftBlue

.representatives__weight-section-value
  font-size 17px
  padding-top 8px
  font-family 'IBM Plex Mono'
