.ledger__body
  display flex
  flex-direction column
  padding 24px 32px
  max-width 1300px
  width 100%
  margin 0 auto

.ledger__metric
  width 100%

.ledger__body-menu
  background white
  border-radius 4px

.ledger__footer
  margin 32px auto
  max-width 1100px
  width 100%

.ledger__chart-sections
  display flex
  flex-wrap wrap

.ledger__chart-section
  max-width 500px
  margin 16px
  flex 1 0 300px

.ledger__chart-section-body
  padding 0 12px
  font-family 'Inter',sans-serif
  font-size 12px
  &.description
    font-size 14px
    line-height 18px
  
  &.download
    margin 16px 0
    display flex
    justify-content flex-start

    button:not(:first-child)
      margin-left 16px

  p
    margin-bottom 16px

@media (min-width 750px)
  .ledger__body-menu
    margin 0 64px
