.roadmap__container
  background white
  padding 45px 0
  display flex
  justify-content space-around

  .menu__container .search__bar
    border 1px solid $borderColor

.roadmap__main
  flex 1 1 550px
  padding 32px 24px 0
  font-size 14px
  font-family 'Roboto Mono',monospace
  line-height 1.6
  margin-bottom 32px
  width 100%
  max-width 550px

.roadmap__side
  flex 1
  min-width 200px
  padding 0 8px
  max-width 350px
  padding-top 8px

.roadmap__body
  overflow hidden
  margin 0 8px 32px
  min-height 48px
  position relative

.roadmap__container .MuiCard-root
  display flex
  flex-direction column
  justify-content space-between

.roadmap__link-description
  font-family 'Inter', sans-serif
  font-size 14px
  line-height 20px
  margin-top 4px

.roadmap__link .menu__heading
  font-size 16px
  font-weight 600
  color $nanoSoftBlue
