.issues__container
  padding 45px 0
  margin 0 auto
  max-width 850px

  .menu__container .search__bar
    border 1px solid $borderColor

.issues__body
  margin 0 auto
  max-width 1100px
  display flex
  flex-wrap wrap
