.doc__container
  max-width 1300px
  margin 0 auto
  display flex
  flex-wrap wrap
  justify-content space-around

.doc__content
  flex 1 1 550px
  padding 32px 24px 0
  font-size 14px
  font-family 'Roboto Mono', monospace
  line-height 1.6
  margin-bottom 32px
  width 100%

  ul
    line-height 1.8

  p
    font-family 'Inter', sans-serif
    font-size 16px
    margin-bottom 16px
    line-height 1.7

  hr
    margin-top 48px
    border none
    border-top 1px solid $borderColor

  code
    padding 3px
    background-color white
    border 1px solid $borderColor
    border-radius 3px

  li
    font-family 'Inter', sans-serif

  pre
    padding 10px
    border-radius 4px
    background-color white
    overflow hidden
    overflow-x scroll
    white-space break-spaces
    margin-bottom 32px
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    code
      background transparent
      border none

  figure
    max-width 100%
    margin 16px auto

  figcaption
    font-size 8pt
    font-style italic
    padding 8px

  h3
  h2
  h1
    margin-top 48px

  img
    padding 6px
    background white
    border-radius 4px
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    margin-bottom 16px

  blockquote
    padding 16px
    font-size 8px
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    border-radius 4px
    background white
    margin-top 32px
    margin-bottom 32px

    p:last-child
      margin-bottom 0

  cite
    display block
    margin-top 8px
    font-family 'IBM Plex Mono', monospace
    font-weight 600

  table
    width 100%
    padding 8px
    font-family 'Inter', sans-serif
    margin 0 auto 16px
    background white
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    border-radius 3px

    code
      white-space nowrap

  th
    text-align start
    padding 2px 16px
    border-bottom 1px solid $borderColor

  td
    padding 2px 16px
    border-bottom 1px solid $borderColor

.doc__content-side
  flex 1
  min-width 200px
  padding 0 8px

.doc__content-side-head
  display flex
  flex-direction column
  height 146px
  flex 1

.doc__content-side-meta
  height 94px

.doc__content-author
  margin 8px
  font-size 10px
  margin-bottom 8px

.doc__content-contributors
  margin-bottom 48px
  margin 8px
  font-size 12px

.doc__content-edit
  margin 8px !important

.doc__content-authors
  margin 0 8px

.doc__content
  a:not(.post__title)
    text-decoration underline
    text-decoration-color $nanoSoftBlue
    text-decoration-thickness 2px
    text-underline-offset 2px
    &:hover
      color $nanoSoftBlue

.doc__content-author
.doc__content-contributors
.doc__content table
  a
    color $nanoSoftBlue
    text-decoration none !important
    &:hover
      text-decoration underline !important
      text-decoration-color $nanoSoftBlue
      text-decoration-thickness 2px
      text-underline-offset 2px

.doc__header-link
  opacity 0
  position absolute
  left -56px
  top 0
  cursor pointer
  padding 12px
  border-radius 50%
  display inline-flex
  align-items center
  justify-content center
  border 1px solid $borderColor
  .MuiSvgIcon-root
    width 20px
    height 20px

  &:hover .MuiSvgIcon-root
    fill $nanoSoftBlue

@media (max-width 750px)
  .doc__content-author
  .doc__content-contributors
  .doc__content-authors
  .doc__content-edit
    margin-left 24px !important

@media (min-width 750px)
  .doc__content
    max-width 550px

  .doc__content-side
    max-width 350px
    padding-top 8px

  .doc__header
    position relative
    &:hover .doc__header-link
      opacity 1
      background #F6F6F6

.code-tabs
  background white
  border-radius 4px
  box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
  pre
  input
    display none

  input:checked + pre
    background #fcfcfc
    display block
    margin-bottom 0
    border 0
    code
      display block

  label
    color rgba(0,0,0,0.5)
  input:checked + label
    color rgba(0,0,0,0.9)
    font-weight 700

  ul
    font-size 0
    padding 0
    white-space nowrap
    overflow auto
    user-select none
    border-bottom 1px solid $borderColor
  li
    list-style none
    display inline-block
    position relative
  label
    cursor pointer
    user-select none
    display inline-block
    padding 2px 5px
    margin 5px
    font-size 14px
  li ~ li::before
    content ""
    height 12px
    width 1px
    background rgba(191, 191, 191, 1)
    position absolute
    top 50%
    transform translate(-50%, -50%)
