.header__container
  display flex
  align-items center
  background inherit
  margin 0 8px
  border-radius 6px 6px 0 0

.header__title
  flex 1
  font-family 'IBM Plex Mono', monospace
  letter-spacing 0.1em
  text-transform capitalize
  position relative
  font-weight 600
  font-size 8pt
  line-height 1rem
  margin 15px 0
  span
  a
  h1
  h2
    display inline-block
    position relative
    background inherit
    padding 3px 8px 2px 12px
