.markdown__content
  ul
    line-height 1.8

  p
    font-family 'Inter', sans-serif
    font-size 16px
    margin-bottom 16px
    line-height 1.7

  hr
    margin-top 48px
    border none
    border-top 1px solid $borderColor

  code
    padding 3px
    background-color white
    border 1px solid $borderColor
    border-radius 3px

  li
    font-family 'Inter', sans-serif

  pre
    padding 10px
    border-radius 4px
    background-color white
    overflow hidden
    overflow-x scroll
    white-space break-spaces
    margin-bottom 32px
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    code
      background transparent
      border none

  figure
    max-width 100%
    margin 16px auto

  figcaption
    font-size 8pt
    font-style italic
    padding 8px

  h3
  h2
  h1
    margin-top 48px

  img
    padding 6px
    background white
    border-radius 4px
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    margin-bottom 16px

  blockquote
    padding 16px
    font-size 8px
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    border-radius 4px
    background white
    margin-top 32px
    margin-bottom 32px

    p:last-child
      margin-bottom 0

  cite
    display block
    margin-top 8px
    font-family 'IBM Plex Mono', monospace
    font-weight 600

  table
    width 100%
    padding 8px
    font-family 'Inter', sans-serif
    margin 0 auto 16px
    background white
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    border-radius 3px

    code
      white-space nowrap

  th
    text-align start
    padding 2px 16px
    border-bottom 1px solid $borderColor

  td
    padding 2px 16px
    border-bottom 1px solid $borderColor
