body
  font-family monospace
  background $backgroundColor

.MuiTableCell-head
  font-family 'IBM Plex Mono', monospace !important
  font-weight 600 !important

.MuiTable-root
  a
    color $nanoSoftBlue
    overflow hidden
    text-overflow ellipsis
    &:hover
      text-decoration underline
      text-decoration-color $nanoSoftBlue
      text-decoration-thickness 2px
      text-underline-offset 2px

.echarts-tooltip
  background white !important
  box-shadow none !important
  border 1px solid $borderColor !important
