body
  font-family monospace
  background $backgroundColor

.MuiTableCell-head
  font-family 'IBM Plex Mono', monospace !important
  font-weight 600 !important

.MuiTable-root
  a
    color $nanoSoftBlue
    overflow hidden
    text-overflow ellipsis
    &:hover
      text-decoration underline
      text-decoration-color $nanoSoftBlue
      text-decoration-thickness 2px
      text-underline-offset 2px

.echarts-tooltip
  background white !important
  box-shadow none !important

.MuiSvgIcon-root.green
  fill #3bd671
  font-size 16px

.table__expand
  cursor pointer
  .MuiTableCell-root
    color $nanoSoftBlue
  &:hover .MuiTableCell-root
    text-decoration underline
    text-decoration-color $nanoSoftBlue
    text-decoration-thickness 2px
    text-underline-offset 2px

.section__row
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 8px 16px
  border-bottom 1px solid rgba(0,0,0,0.08)
  font-family 'IBM Plex Mono', monospace
  font-size 12px

  a
    color $nanoSoftBlue
    overflow hidden
    text-overflow ellipsis
    &:hover
      text-decoration underline
      text-decoration-color $nanoSoftBlue
      text-decoration-thickness 2px
      text-underline-offset 2px

.section__row-label
  padding-right 24px

.section__heading
  flex 1
  font-family 'IBM Plex Mono', monospace
  letter-spacing 0.1em
  text-transform capitalize
  font-weight 600
  position relative
  font-size 8pt
  line-height 1rem
  margin 8px 0
  span
    display inline-block
    position relative
    background $backgroundColor
    padding 3px 8px 2px 0px
