.change-locale.MuiFormControl-root
  margin 0 auto
  max-width 160px
  margin 8px

  .MuiOutlinedInput-notchedOutline
    border-color lighten($borderColor, 40%)

  &:hover
    .MuiInputBase-root
      background $hoverBackground

    .MuiOutlinedInput-notchedOutline
      border-color $hoverBorder
      box-shadow $hoverShadow 4px 4px 0px 0px
