.representatives__body
  margin 0 auto
  max-width 1100px
  display flex
  flex-wrap wrap

.representatives__header
  display flex
  padding-top 16px
  overflow-x scroll
  margin 0 auto
  max-width 1300px

.representatives__metrics
  width 100%
  border-radius 4px
  overflow hidden
  margin 64px 8px
  display flex
  box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20)

  .MuiTab-root
    font-family 'IBM Plex Mono', monospace
    text-transform capitalize

.representatives__metric
  background white
  width 100%

.representatives__footer
  margin 0 auto
  max-width 1100px
  width 100%

@media (min-width 601px)
  .representatives__metrics-menu
    border-right 1px solid $borderColor

@media (max-width 600px)
  .representatives__metrics
    flex-direction column

  .representatives__metrics-menu
    border-bottom 1px solid $borderColor
