.blocks__summary
  width 100%
  display flex
  overflow hidden
  flex-direction column
  padding 16px 0

  .account__section
    flex 1 0 100% !important

  .MuiTableCell-body.number
    font-family 'IBM Plex Mono', monospace
    white-space nowrap

  .MuiTableCell-head
    font-size 12px

  .MuiTableContainer-root
    background white
    border-radius 8px
    width 100%
    overflow hidden
    overflow-x scroll
