.account__container
  width 100%
  display flex
  flex-wrap wrap
  padding-top 32px
  max-width 800px
  margin 0 auto

.account__section
.representative__section
  flex 1
  border-radius 3px
  min-height 48px
  display flex
  flex-direction column
  margin 8px

.account__section
  &.account__meta
    flex 1 0 300px

  &.account__balance
    flex 1 0 200px

  &.account__address
    flex 3 0 300px

.representative__container
.representative__head
.account__head
  display flex
  flex-wrap wrap
  width 100%

.representative__container
  margin-top 32px

.account__head
.representative__head
  flex 1 0 100%

.representative__head .representative__section
.account__head .account__section
  background white
  border 1px solid $borderColor

.account__section-row
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 8px 16px
  border-bottom 1px solid rgba(0,0,0,0.08)
  font-family 'IBM Plex Mono', monospace
  font-size 12px

  a
    color $nanoSoftBlue
    overflow hidden
    text-overflow ellipsis
    &:hover
      text-decoration underline
      text-decoration-color $nanoSoftBlue
      text-decoration-thickness 2px
      text-underline-offset 2px

.account__section-row-label
  padding-right 24px

.account__section-metrics
  font-family 'IBM Plex Mono', monospace
  padding 16px
  border-bottom 1px solid $borderColor
  text-align center

.account__section-metric-label
  font-size 12px
  font-weight 800
  color rgba(0,0,0,0.8)

.account__section-metric-body
  padding-top 16px
  font-size 24px

.account__alias
  flex 1 1 100%
  font-family 'IBM Plex Mono', monospace
  padding 0 8px
  min-height 74px

.account__footer
  width 100%
  max-width 1300px
  margin 0 auto

.account__address
  flex 3
  align-items center
  justify-content center
  padding 0 8px

.account__balance
  display flex
  padding 16px
  align-items center

.representative__network
.representative__telemetry
  .account__section-heading
    flex 0

.account__balance-nano
  display flex
  align-items baseline

.account__balance-nano-integer
  font-size 24px

.account__balance-nano-fraction
  font-size 13px

.account__balance-nano-unit
  text-transform uppercase
  padding-left 8px

.representative__metrics
  flex 1 1 100%
  display flex
  border 1px solid $borderColor
  border-radius 4px
  margin 8px
  overflow hidden

.representative__metrics-menu
  border-right 1px solid $borderColor
  background white

.representative__metric
  flex 1

.account__section-heading
  flex 1
  font-family 'IBM Plex Mono', monospace
  letter-spacing 0.1em
  text-transform capitalize
  font-weight 600
  position relative
  font-size 8pt
  line-height 1rem
  margin 8px 0
  span
    display inline-block
    position relative
    background $backgroundColor
    padding 3px 8px 2px 0px

@media (max-width 600px)
  .account__address
    font-size 12px

@media (max-width 500px)
  .account__address
    font-size 11px
    overflow-wrap anywhere
    min-width 150px
