.account__body
  width 100%
  display flex
  flex-wrap wrap
  padding-top 32px
  max-width 800px
  margin 0 auto

.account__section
  flex 1
  background white
  border-radius 3px
  min-height 48px
  display flex
  flex-direction column
  margin 8px
  box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)

.account__section-row
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 8px 16px
  border-bottom 1px solid rgba(0,0,0,0.08)
  font-family 'IBM Plex Mono', monospace
  font-size 12px

.account__section-row-label
  padding-right 24px

.account__section-metrics
  font-family 'IBM Plex Mono', monospace
  padding 16px
  border-bottom 1px solid $borderColor
  text-align center

.account__section-metric-label
  font-size 12px
  font-weight 800
  color rgba(0,0,0,0.3)

.account__section-metric-body
  padding-top 8px
  font-size 24px

.account__alias
  flex 1 1 100%
  font-family 'IBM Plex Mono', monospace
  padding 0 8px
  height 74px

.account__footer
  width 100%
  max-width 1300px
  margin 0 auto

.account__address
  flex 3
  align-items center
  justify-content center
  padding 0 8px

.account__balance
  display flex
  flex-direction column
  padding 16px
  align-items center

.account__balance-nano
.account__balance-raw
  display flex
  align-items baseline

.account__balance-raw
  color rgba(0,0,0,0.5)
  font-size 10px

.account__balance-nano-integer
  font-size 24px

.account__balance-nano-fraction
  font-size 13px

.account__balance-nano-unit
  text-transform uppercase
  padding-left 8px

.representative__metrics
  flex 1 1 100%
  display flex
  box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20)
  border-radius 4px
  margin 8px
  overflow hidden

.representative__metrics-menu
  border-right 1px solid $borderColor

.representative__metric
  flex 1
  background white

@media (max-width 600px)
  .account__address
    font-size 12px

@media (max-width 500px)
  .account__address
    font-size 11px
    overflow-wrap anywhere
    min-width 150px
