.representatives__alerts
  margin 8px 0 32px
  border-radius 4px
  .MuiTableRow-root
    background white

.rep__alert
  .MuiChip-label
    text-transform capitalize
    font-size 12px
    font-weight 600
    font-family 'IBM Plex Mono', monospace !important

  &.overweight
    background #E5F0F9

  &.low.uptime
  &.behind
    background darken(#FEF8EA, 10%)

  &.offline
    background lighten(#FFEFE2, 20%)
    color #bf4f4f
    border 1px solid #bf4f4f

.rep__alert-metric
  font-family 'IBM Plex Mono', monospace !important

  &.offline
    font-weight 600
    color #bf4f4f
