.representatives__alerts
  margin 8px 0 32px
  border-radius 4px
  .MuiTableRow-root
    background white

.rep__alert
  .MuiChip-label
    text-transform uppercase
    font-size 10px

  &.overweight
    background #E5F0F9
    border-color transparent

  &.low.uptime
  &.behind
    background darken(#FEF8EA, 10%)
    border-color transparent

  &.offline
    border-color #bf4f4f
    color #bf4f4f
