.metric__card
  flex 1 200px
  border 1px solid $borderColor
  border-radius 4px
  padding 16px
  margin 8px
  background white
  display flex
  flex-direction column
  position relative

.metric__card-header
  margin-bottom 14px
  flex 1

.metric__card-subtitle
.metric__card-title
  font-family 'IBM Plex Mono', monospace
  letter-spacing 0.2em
  text-transform uppercase

.metric__card-title
  font-size 12px
  margin-bottom 4px

.metric__card-subtitle
  font-size 8px
  color rgba(0,0,0,0.5)

.metric__card-row
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 8px 0
  border-bottom 1px solid rgba(0,0,0,0.08)
  cursor pointer
  &:hover
    font-weight 900
    color $nanoSoftBlue
  &.selected
    font-weight 900
    color red

.metric__card-row-label
  padding-right 24px

.metric__card-row-percentage
  position absolute
  left 0
  bottom -1px
  height 2px
  background red

.metric__card-tooltip.MuiSvgIcon-root
  font-size 18px
  fill rgba(0,0,0,0.7)
  position absolute
  top 8px
  right 8px
