$hoverBackground = rgba(255, 255, 255, 0.8)
$hoverBorder = rgba(0, 0, 0, 0.23)

.menu__dial
  position fixed
  left 16px
  top 20px
  z-index 99999 !important

.menu__container
  margin-bottom 32px
  flex 1

  .MuiFab-root
    border-radius 4px
    background black
    color white
    img
      transition transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
      border-radius 4px
      height 56px
      width 56px
      padding 14px
      background black

    &:hover
      background lighten(black, 30%)
      img
        box-shadow 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
        transform scale(1.1)

.menu__body
  flex 1 0 100%
  display flex
  flex-direction column
  align-items center

.menu__sections
  flex 1 0 100%
  display flex
  flex-wrap wrap
  align-content flex-start
  font-family 'Inter', sans-serif

.MuiDrawer-paper.MuiPaper-root
  background $backgroundColor
  border-radius 0 0 32px 32px
  .menu__sections
    max-width 1100px
    margin 0 auto
    padding 16px 32px

.menu__section
  padding 16px
  border-radius 4px
  min-width 136px
  border 1px solid lighten($borderColor, 40%)
  flex 1
  margin 8px
  transition background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
  &:hover
    border-color $hoverBorder
    background $hoverBackground
    box-shadow $hoverShadow 4px 4px 0px 0px

.menu__links
  margin-top 8px
  a
    display block
    padding 3px 0
    font-weight 400
    font-size 12px
    line-height 16px
    &:hover
      color $nanoSoftBlue

.menu__heading
  font-weight 600
  text-transform capitalize
  font-family 'IBM Plex Mono', monospace

.menu__text
  font-family 'Montserrat', sans-serif
  font-size 32px
  letter-spacing 0.1em
  margin 48px auto 32px
  transition color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms

a.menu__text:hover
  color $nanoSoftBlue

@media (max-width 749px)
  .menu__dial
    top auto
    left auto
    right 16px
    bottom 16px
