.menu__container
  display flex
  margin-bottom 32px
  flex-wrap wrap
  flex 1
  align-content flex-start

.menu__section
  padding 16px
  border-radius 4px
  border 1px solid $borderColor
  flex 1
  margin 8px
  transition background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
  &:hover
    border-color rgba(0, 0, 0, 0.23)
    background rgba(0, 0, 0, 0.04)
    box-shadow #F0F0F0 4px 4px 0px 0px

.menu__links
  margin-top 8px
  a
    display block
    padding 3px 0
    &:hover
      color $nanoSoftBlue

.menu__heading
  font-weight 600
  text-transform capitalize

.menu__logo
  width 100%
