.menu__container
  display flex
  margin-top 32px
  margin-bottom 32px
  flex-wrap wrap

.menu__section
  padding 16px
  border-radius 4px
  border 2px solid $borderColor
  flex 1
  margin 8px

.menu__links
  margin-top 8px
  a
    display block
    padding 2px 0

.menu__heading
  font-weight 600
  text-transform capitalize
