.representatives__filters
  display flex
  align-items center
  font-weight 900
  color rgba(0,0,0,0.5)
  font-size 14px
  cursor pointer

  .MuiSvgIcon-root
    background rgba(0,0,0,0.5)
    fill $backgroundColor
    margin-right 8px
    border-radius 3px

  &:hover
    color red

    .MuiSvgIcon-root
      background red
